<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<form action="Welcome" method="post">
<label for="name">First name:</label><br>
<input type="text" id="name" name="name" value="John" required><br>
<label for="Email">Email:</label><br>
<input type="text" id="Email" name="Email" value="name@mail.com" required><br>
    <label for="phone">phone:</label><br>
<input type="text" id="phone" name="phone" value="phonenumber" required><br><br>


<input type="submit" value="Submit">
</form>
</body>
</html>