<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h2>Register Customer</h2>
<form th:action="@{Welcome}" th:object="${customer}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <ul>
            <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
        </ul>
    </div>
    <label for="name">First name:</label><br>
    <input type="text" id="name" th:field="*{name}" value="John" required><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="ssn">personnummer:</label><br>
    <input type="text" id="ssn" th:field="*{ssn}" pattern="\d{6}[-]?\d{4}" value="ååmmddxxxx" required><br>
    <div th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}"></div>
    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{email}" value="name@mail.com" required><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <label for="phone">phone:</label><br>
    <input type="text" id="phone" th:field="*{phone}" value="phonenumber" required><br>
    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

    <br>
    <input type="submit" value="Submit">
</form>
<br>
<a href="/Startsida"><button>tillbaka till startsidan</button></a>
</body>
</html>