<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Startsida - Pensionat</title>
</head>
<body>

<h1>Hej och välkommen till vårt pensionat!</h1>

<div>
  <a th:href="@{/html/CustomerReg}">
    <button>Registrera kund</button>
  </a>
</div>

<div>
  <a th:href="@{/rooms/search}">
    <button>Se tillgängliga rum</button>
  </a>
</div>

<div>
  <a th:href="@{/html/CustomerReg}">
    <button>Ändra kunduppgifter</button>
  </a>
</div>

</body>
</html>
